.title-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.5em;
    color: #2f4f4f;
    text-align: center;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: antiquewhite;
}

.my-image {
    border-radius: 0.35em;
    border: 0;
    display: inline-block;
    position: relative;
    width: 100px;
}

body, html {
    margin: 0;
    width: 100%;
}

html {
    background-color: antiquewhite;
}

.root {
    background-color: antiquewhite;
}
