.sidenav {
    width: 250px;
    transition: width 0.3s ease-in-out;
    height: 100vh;
    background-color: #2F4F4F !important;
    padding-top: 28px;
}
.sidenavClosed {
    composes: sidenav;
    transition: width 0.3s ease-in-out;
    width: 60px;
}
.sideitem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    color: bisque;
    text-decoration: none;
    overflow: hidden;
}
.linkText {
    padding-left: 16px;
}
.sideitem:hover {
    background-color: #577575;
}
.btn {
    align-self: center;
    align-self: flex-start;
    justify-self: flex-end;
    color: bisque;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding-left: 20px;
}